{% extends 'utils/base.html' %}
{% block title %}{{ block.super }} | Detail de {{task.label}}{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h1>{{ task.label }}</h1>
    <form action="{% url 'tasks:edit' task.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>

    <a href="{% url 'tasks:index' %}">Retornar a lista de todas as Tasks</a>

{% endblock %}
