{% extends 'utils/base.html' %}
{% block title %}{{ block.super }} | Detail de {{task.label}}{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h1>{{ task.label }}</h1>
    <form action="{% url 'tasks:edit' task.id %}" method="post">
        {% csrf_token %}
        <input type="checkbox" name="is_done" id="is_done" value="is_done" {% if task.is_done %}checked{% endif %} />
        <label for="is_done">Is Done?</label></br>
        <input type="submit" value="Save" />
    </form>

    <a href="{% url 'tasks:index' %}">Retornar a lista de todas as Tasks</a>

{% endblock %}
